@charset "utf-8";
/* CSS Document */
body{ margin:0px; background-color:#000; position:relative}
li{ list-style:none; display:inline; margin-left:20px; font-size:18px; font-weight:bold; font-style:italic}
li{ display:inline; margin-left:10px; cursor:pointer}
td{border-bottom: thin  solid #E0E0E0;  height:25px; line-height:130%}
th{background-color:#FC0; height:40px; font-weight:bold; font-size:16px; text-align:left}