@charset "utf-8";
/* CSS Document */
body{ margin:0 auto; width:1003px; margin-bottom:10px; background-color:#000}
input{height:20px; font-size:14px; font-weight:bold}
input:focus{outline:#CCC  solid}
a:link,a:visited{color:#00F}
a:hover {text-decoration: underline}

